[color]
	ui = auto
[user]
	name = Hazel Victoria Campbell
	email = github@orezpraw.com
[push]
	default = simple
[merge]
	tool = meld
[mergetool "kompare"]
	cmd = $REMOTE
	trustExitCode = false
[cinnabar]
	version-check = 1569165271
	helper = /home/wz/.mozbuild/git-cinnabar/git-cinnabar-helper
	fsck = 1569165830
